.row {
    display: flex;
    justify-content: center;
}

.candy1 {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.candy1::before {
    content: "1";
    font-size: 20px;
}

.candy2 {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.candy2::before {
    content: "2";
    font-size: 20px;
}

.candy3 {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.candy3::before {
    content: "3";
    font-size: 20px;
}

.candy4 {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.candy4::before {
    content: "4";
    font-size: 20px;
}