.info {
    display: flex;
    font-size: large;
    font-weight: 400;   
    position: relative; 
    height: 28px;
    align-items: center;
}

.moves {
    height: 30px;
    font-size: large;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.score {
    position: absolute;
    left: 200px;
}

.combo-points {
    position: absolute;
    text-align: center;
    left: 335px;
    font-size: 20px;
}

.combo-text {
    position: absolute;
    text-align: right;
    right: 200px;
}

img {
    width: 42px;
    height: 42px;
    margin: 3px;
    cursor: pointer;
}

.row {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 350px;
    margin: auto;
}

.game-board {
    display: flex;
    flex-direction: column;
    /* background-image: url("images/background.jpg"); */
    background-size: cover;
    padding: 10px;
}

.crush {
    filter: hue-rotate(200deg);
}


