.info {
    display: flex;
    flex: 1fr 1fr 1fr;
    font-size: large;
    font-weight: 400;   
    /* position: relative;  */
    height: 28px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.info-1 {
    height: 30px;
    font-size: medium;
    font-weight: 700;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.info-2 {
    display: flex;
    height: 25px;
    gap: 20px;
    justify-content: center;
}

img {
    width: 42px;
    height: 42px;
    margin: 3px;
    cursor: pointer;
}

.row {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 350px;
    margin: auto;
}

.game-board {
    display: flex;
    flex-direction: column;
    /* background-image: url("images/background.jpg"); */
    /* background-size: cover; */
    padding: 10px;
    
}

.crush {
    filter: hue-rotate(200deg);
    /* background-color: yellow; */
}

.stage-end {
    font-size: x-large;
    color: aliceblue;
    background-color: rgb(128, 128, 128, 0.5);
    padding: 10px;
    display: flex;
    justify-content: center;
    
}


